$small-font: 14px;
$base-font: 18px;
$medium-font: 25px;
$large-font: 30px;
$secondary-color: #fff;
$text-color: #474747;
$section-color: #F3F7EA;
$font-light: 300;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$family-font: 'Source Serif Pro';
